<div>
  <h4>1. Select Players</h4>
  <PlayersView @players={{this.model.players}} />
  <br>
  
  <h4>2. Select Game Type</h4>
  <button {{action "createGame" "standard"}}>Standard</button>
  <button {{action "createGame" "downer"}}>Downer</button>
  <button {{action "createGame" "random"}}>Random</button>
  <br><br>

  <h4>3. Start Scoring</h4>
  <table class="table">
  <thead>
    <tr>
      <th scope="row">Cards</th>
      {{#each this.model.players as |p|}}
        <th scope="col">{{p.name}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each this.hands as |h|}}
        <tr>
          <th scope="row">{{h}}</th>
          {{#each this.model.players as |p|}}
            <td>{{p.id}}</td>
          {{/each}}
      </tr>
    {{/each}}
  </tbody>
  </table>
 
</div>